<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Tienda - Inicio</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/img/favicon.png" type="image/png">

</head>
<body>
    

    <div class="main-content">
        <header class="header-principal">
            <h1>Bienvenido a Distribuidora El Alba</h1>
            <a href="/productos" class="btn-principal">Ver Productos</a>
        </header>

        <!-- Botón de WhatsApp -->
        <a href="https://wa.me/5491165697745" target="_blank" class="btn-whatsapp">
            💬 CONTACTO
        </a>

        <section class="galeria-principal">
            <div class="galeria">
                <img src="/static/img/1.png" alt="Producto 1">
                <img src="/static/img/2.jpg" alt="Producto 2">
                <img src="/static/img/3.jpg" alt="Producto 3">
                <img src="/static/img/4.jpg" alt="Producto 4">
                <img src="/static/img/5.png" alt="Producto 5">
                <img src="/static/img/6.png" alt="Producto 6">
                <img src="/static/img/7.jpg" alt="Producto 7">
                <img src="/static/img/8.png" alt="Producto 8">
                <img src="/static/img/9.png" alt="Producto 9">
                <img src="/static/img/10.png" alt="Producto 10">
            </div>
        </section>
    </div>

    <footer class="footer-principal">
        &copy; 2025 - Todos los derechos reservados | Desarrollado por Sebastián Medina
    </footer>

    <script src="/static/script.js"></script>
</body>
</html>
